.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 300px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-tooltip {
  background-color: white;
  color: #282c34;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
}
.custom-tooltip img{
  width: 100px;
}

.timeline-wrapper {
  max-width: 800px;
  margin: auto;
}
.preview {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #3d4555;
  color: aliceblue;
}

.preview p {
  white-space: break-spaces;
  text-align: right;
  direction: rtl;
}
.preview img {
  max-width: 200px;
  object-fit: contain;
  margin-right: 15px;
}
.top-items {
  align-items: center;
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .preview {
    flex-direction: column;
    align-items: center;
    width:auto   ;
  }
  .preview img {
    max-width: 100%;
    object-fit: contain;
    margin-right: auto;
  }
}